
QMenuBar {
    background-color:antiquewhite;
}
QAction {
    background-color: red;
}
QComboBox {
    background-color:lightcyan;
}
QMenu {
    background-color: red;
    border: 4px solid black;
}
#operator_icon_domain_ptr_ {
    /*background-color: red;*/
    border:none;/*…Ë÷√Œﬁ±ﬂøÚ*/
}

